<form action="">
    <span>Chave</span><input type="text" placeholder="Chave da conta">
    <input type="button" value="Continuar">
</form>
<div class="contacts">
    <h1>Meus Contatos</h1>
    <ol>
        <li>
            <h3>Sea Solutions</h3>
            <p>Chave: ***********-7FTO0</p>
            <button>Selecionar</button>
        </li>
        <li>
            <h3>Gastoreli Restaurante</h3>
            <p>Chave: ***********-7H5H1</p>
            <button>Selecionar</button>
        </li>
    </ol>
</div>