<header>
    <nav>
        <div class="navbar">
            <h1>seaPay</h1>
            <ol>
                <li>Início</li>
                <li>Transferências</li>
                <li>Transações</li>
            </ol>
            <div class="account">
                <span>Olá, Felipe!</span>
                <button type="button">Sair</button>
            </div>
        </div>
    </nav>
</header>
<main>
    <div class="dashboard">
        <div class="current-activity">
            <!-- Apenas essa parte muda em toda a página, o resto se mantém -->
            <app-transactions></app-transactions>
        </div>
        <div class="details">
            <h1>Detalhes</h1>
            <p>Felipe Antônio Brito da Silva</p>
            <p>felipe.silva seasolutions.io</p>
            <p>Conta Pessoal</p>
        </div>
        <div class="account">
            <h1>Conta</h1>
            <span>Número: </span> 0001
            <span>Saldo: </span> R$ 2.500,00
            <span>Número: </span> 4S4J7-1J8RQ-7FTO0
            *Logo
        </div>
    </div>
</main>
<footer>
    &copy; 2024 seaPay Instituição de Pagamento S/A. CNPJ 00.000.000/0000-00 Edifício Lê Quartier, SHCN, 1017/1018 Brasília - DF
</footer>